body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
fieldset, lengend, button, input, textarea,
th, td {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

// 容器样式
.wrapper-main {
  padding: 24px;
  height: calc(~"100% - 66px");
  background-color: #fff;
}