// 容器样式
.wrapper-main {
  padding: 16px;
  min-height: calc(100% - 32px);
  background-color: #fff;
}

//下拉菜单间距
.el-dropdown-menu__item {
  line-height: 24px;
  padding: 4px 20px;
}

// tag样式调整
.el-tag {
  border-radius: 2px;
  cursor: pointer;
}

// 表格样式重写
.el-table {
  .el-table__header {
    thead {
      tr {
        th {
          color: rgba(0,0,0,0.85);
          font-weight: 700;
          padding: 6px 0;
        }
      }
    }
  }
  tbody {
    td {
      padding: 7px 0;
    }
  }
}

// 全局修改输入框高度
.el-input__inner {
  height: 32px;
  line-height: 32px;
  .el-date-editor {
    .el-range__icon {
      line-height: 24px;
    }
  }
}
